<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ head_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/testing.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <div id="app-testing" class="container pt-1" :class="BackgroundColor" style="display:none;">
        <div v-if="centerMessage.show" class="text-center text-white loading-box"><img v-if="centerMessage.loadingEffect" src="/img/loading3.gif" class="icon-loading mr-2">{? centerMessage.text ?}</div>
        <div v-if="header.visible" id="testing-header" class="bg-dark text-white py-1 px-2 d-flex align-items-center fade-in slide-down">
            <div class="col-md-6 py-2">
                <h3 class="mb-0 pb-0"><i class="fab fa-product-hunt mr-2"></i>{? header.scoreNumber ?}</h3>
            </div>
             <div class="col-md-6 text-right">
                <button @click="OnClick_Quit" class="btn btn-danger"><i class="far fa-times-circle mr-2"></i>Thoát</button>
            </div>
        </div>
        <div v-if="gameBoard.visible" class="fade-in slide-up mt-4">
            <div v-if="gameBoard.showAnswers" class="play-fullscreen">
                <div class="row">
                    <div v-if="gameBoard.questData.Answers.length >= 1" class="col-md-6 mb-2 mb-md-4">
                        <div @click="OnClick_Answer(0);" :class="{ 'opacity-35': (gameBoard.answeredButtonID != 0 && gameBoard.isAnswered) }" class="btn-client-answer border-triangle d-flex justify-content-center align-items-center ans-triangle py-3">
                            <div class="answer-icon text-dark d-flex justify-content-center align-items-center"><span>&bigtriangleup;</span></div>
                        </div>
                    </div>
                    <div v-if="gameBoard.questData.Answers.length >= 2" class="col-md-6 mb-2 mb-md-4">
                        <div @click="OnClick_Answer(1);" :class="{ 'opacity-35': (gameBoard.answeredButtonID != 1 && gameBoard.isAnswered) }" class="btn-client-answer border-circle d-flex justify-content-center align-items-center ans-circle py-3">
                            <div class="answer-icon text-dark d-flex justify-content-center align-items-center"><span>O</span></div>
                        </div>
                    </div>
                    <div v-if="gameBoard.questData.Answers.length >= 3" class="col-md-6 mb-2 mb-md-4">
                        <div @click="OnClick_Answer(2);" :class="{ 'opacity-35': (gameBoard.answeredButtonID != 2 && gameBoard.isAnswered) }" class="btn-client-answer border-cross d-flex justify-content-center align-items-center ans-cross py-3">
                            <div class="answer-icon text-dark d-flex justify-content-center align-items-center"><span>X</span></div>
                        </div>
                    </div>
                    <div v-if="gameBoard.questData.Answers.length >= 4" class="col-md-6 mb-2 mb-md-4">
                        <div @click="OnClick_Answer(3);" :class="{ 'opacity-35': (gameBoard.answeredButtonID != 3 && gameBoard.isAnswered) }" class="btn-client-answer border-square d-flex justify-content-center align-items-center ans-square py-3">
                            <div class="answer-icon text-dark d-flex justify-content-center align-items-center"><span>&#9634;</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="gameBoard.showMessage" class="play-fullscreen d-flex justify-content-center align-items-center">
                <h2 v-html="gameBoard.messageText" class="text-center"></h2>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/babel.min.js"></script>
    <script type="text/babel">
        var isPageBusy = true;
        function Set_PageBusy(busy) {
            if(isPageBusy == busy)
                return;
            
            isPageBusy = busy;

            if(isPageBusy) {
                $(".loader").show();
                $("#preloder").show();
            } else {
                $(".loader").hide();
                $("#preloder").hide();
            }
        }

        $(window).on("load", function() {
            Set_PageBusy(false);
        });

        var vm = new Vue({
            el: "#app-testing",
            delimiters: ['{?','?}'],
            data: {
                siteUrl: "{{ appFullUrl }}",
                user: {
                    userGameId: "{{ userGameId }}"
                },
                game: {
                    id: Number("{{ gameId }}"),
                    PIN: "{{ gamePIN }}",
                    status: 0,
                    detailStatus: 0
                },
                centerMessage: {
                    show: true,
                    text: "Đang kết nối...",
                    loadingEffect: true
                },
                socket: null,
                backgroundColor: 0,
                header: {
                    visible: false,
                    scoreNumber: 0,
                    isQuitting: false
                },
                gameBoard: {
                    visible: false,
                    showAnswers: false,
                    showMessage: false,
                    messageText: "Vui lòng chờ câu hỏi",
                    questData: null,
                    busyAnswering: false,
                    isAnswered: 0,
                    answeredButtonID: -1
                },
                sounds: {
                    answerCorrect: null,
                    answerWrong: null
                }
            },
            computed: {
                BackgroundColor: function() {
                    
                    var addClass = [];
                    switch(this.backgroundColor) {
                        case 1: addClass.push('bg-white'); break;
                        case 2: addClass.push('bg-success'); break;
                        case 3: addClass.push('bg-danger'); break;
                    }

                    $("body").removeClass().addClass(addClass.join(' '));
                    
                    return {
                        'bg-white': this.backgroundColor == 1 ? true : false,
                        'bg-success': this.backgroundColor == 2 ? true : false,
                        'bg-danger': this.backgroundColor == 3 ? true : false,
                        'text-white': this.backgroundColor == 2 || this.backgroundColor == 3 ? true : false
                    };
                }
            },
            methods: {
                socketConnect() {
                    this.socket = io();
                    this.socket.on('connect', this.socketOnConnected);
                    this.socket.on('disconnect', this.socketOnDisconnected);
                    this.socket.on('connect_failed', this.socketOnConnectFailed);

                    this.socket.on('player_verified', this.socketOnPlayerVerified);
                    this.socket.on('game_start', this.socketOnGameStart);
                    this.socket.on('update_quest', this.socketOnUpdateQuest);
                    this.socket.on('update_result', this.socketOnUpdateResult);
                },
                socketOnConnected() {
                    this.centerMessage.text = "Đã kết nối, đang xác minh và tải dữ liệu...";
                    this.socket.emit('player_connect', { gameId: this.game.id, gamePIN: this.game.PIN, userGameId: this.user.userGameId });
                },
                socketOnDisconnected() {
                    if(this.header.isQuitting || this.game.status == 3)
                    {
                        location.reload(); 
                        return;
                    }

                    this.CloseGame("Bạn đã bị ngắt kết nối khỏi máy chủ<br/>(có thể là do bạn đã truy cập ở một nơi khác)");
                },
                socketOnConnectFailed() {
                    this.centerMessage.text = "Không thể kết nối tới máy chú, thử lại sau.";
                    this.centerMessage.loadingEffect = false;
                },
                socketOnPlayerVerified(data) {
                    console.log("Verified: "+data.success);
                    
                    if(data.success) {
                        axios("/play/"+this.game.id+"/player_act/get_data")
                        .then(({ data }) => {
                            if(data.success) this.ReadPlayerData(data);
                            else this.CloseGame(data.message);
                        }).catch((error) => {
                            console.log(error);
                            this.CloseGame("Không thể kết nối tới máy chủ.")
                        });
                    } else this.CloseGame("Không thể xác minh danh tính.");
                },
                socketOnGameStart(data) {
                    if(data.success) {
                        this.game.status = 1;
                        this.game.detailStatus = 0;

                        this.backgroundColor = 1;
                        this.header.scoreNumber = 0;

                        this.gameBoard.visible = true;
                        this.gameBoard.showAnswers = false;
                        this.gameBoard.showMessage = true;
                        this.gameBoard.messageText = "Đang tải, vui lòng chờ...";
                    }
                },
                socketOnUpdateQuest(data) {
                    console.log("Socket Update Quest");
                    console.log(data);
                    if(data.success) {
                        if(data.detailStatus == 1) {
                            this.game.detailStatus = 1;
                            this.backgroundColor = 1;

                            this.gameBoard.visible = true;
                            this.gameBoard.showAnswers = true;
                            this.gameBoard.showMessage = false;

                            this.gameBoard.questData = data.quest;
                            this.gameBoard.isAnswered = false;
                        } else if(data.detailStatus == 2) {
                            this.game.detailStatus = 2;
                            this.gameBoard.showAnswers = false;
                            this.gameBoard.showMessage = true;

                            this.header.scoreNumber = data.result.point;
                            this.SetAnswerStatus(data.result);

                            if(data.result.detail == 1) {
                                this.sounds.answerCorrect.currentTime = 0.0;
                                this.sounds.answerCorrect.play();
                            }
                        }
                    }
                },
                socketOnUpdateResult(data) {
                    this.game.status = data.status;
                    this.game.detailStatus = data.detailStatus;
  
                    this.gameBoard.visible = true;
                    this.gameBoard.showAnswers = false;
                    this.gameBoard.showMessage = true;

                    this.backgroundColor = 2;
                    this.gameBoard.messageText = "<h1 class='text-center'><i class='far fa-check-circle mr-2'></i>Trò chơi kết thúc! (Hạng "+data.result.rank+")</h1><span class='d-block small'>Bạn trả lời đúng "+data.result.correctAnswers+"/"+data.questTotal+" câu với tổng "+data.result.point+" điểm.</span>";
                },
                ReadPlayerData(data) {
                    var { game, endGame } = data;
                    console.log("Read Player Data - Status: "+game.STATUS)

                    this.SetCenterMessage(false, null, false);
                    this.game.status = game.STATUS;

                    switch(game.STATUS) {
                        case 1: // Opening for joining
                            this.backgroundColor = 1;

                            this.header.visible = true;
                            this.header.scoreNumber = 0;

                            this.gameBoard.visible = true;
                            this.gameBoard.showAnswers = false;
                            this.gameBoard.showMessage = true;
                            this.gameBoard.messageText = "<h1 class='text-center'>Bạn đã vào phòng!</h1><span class='d-block small'>Trò chơi sắp bắt đầu.</span>";;

                            break;
                        case 2: // Playing
                        
                            if(game.DETAIL_STATUS == 1) {
                                this.game.detailStatus = 1;

                                this.gameBoard.visible = true;
                                this.gameBoard.showAnswers = true;
                                this.gameBoard.showMessage = false;

                                this.gameBoard.questData = game.CUR_QUEST_DATA;
                                this.gameBoard.isAnswered = game.isAnswered;

                                if(this.gameBoard.isAnswered) {
                                    this.backgroundColor = 1;
                                    this.gameBoard.showAnswers = true;
                                    this.gameBoard.showMessage = false;
                                    this.gameBoard.messageText = "<h1 class='text-center'><i class='far fa-check-circle mr-2'></i>Bạn vừa trả lời xong!</h1><span class='d-block small'>Bây giờ hãy chờ đợi kết quả.</span>";
                                
                                    var index = 0, niggerThis = this;
                                    this.gameBoard.questData.Answers.forEach(function(a) {
                                        if(a.AnsID == game.answeredID)
                                            niggerThis.gameBoard.answeredButtonID = index;
                                        index++;
                                    });
                                }
                            } else if(game.DETAIL_STATUS == 2) {
                                this.game.detailStatus = 2;

                                this.gameBoard.visible = true;
                                this.gameBoard.showAnswers = false;
                                this.gameBoard.showMessage = true;

                                this.gameBoard.questData = game.CUR_QUEST_DATA;
                                this.gameBoard.isAnswered = game.isAnswered;

                                this.header.scoreNumber = game.result.point;
                                this.SetAnswerStatus(game.result);
                            }

                            break;
                        case 3:
                            this.game.detailStatus = 0;
        
                            this.gameBoard.visible = true;
                            this.gameBoard.showAnswers = false;
                            this.gameBoard.showMessage = true;

                            this.backgroundColor = 2;
                            this.header.scoreNumber = endGame.result.point;
                            this.gameBoard.messageText = "<h1 class='text-center'><i class='far fa-check-circle mr-2'></i>Trò chơi kết thúc! (Hạng "+endGame.result.rank+")</h1><span class='d-block small'>Bạn trả lời đúng "+endGame.result.correctAnswers+"/"+endGame.questTotal+" câu với tổng "+endGame.result.point+" điểm.</span>";
                            
                            break;
                    }

                    this.header.visible = true;
                    this.centerMessage.show = false;
                },
                OnClick_Answer(orderId) {
                    if(this.game.detailStatus != 1)
                        return;
                    if(this.gameBoard.busyAnswering)
                        return;
                    if(this.gameBoard.isAnswered)
                        return;

                    this.gameBoard.busyAnswering = true;

                    var questID = this.gameBoard.questData.QuestID;
                    var ansID = this.gameBoard.questData.Answers[orderId].AnsID;
                    var currentDetailStatus = this.game.detailStatus;

                    Set_PageBusy(true);

                    axios("/play/"+this.game.id+"/player_act/send_answer", {
                            params: {
                                userGameId: this.user.userGameId,
                                questID: questID,
                                ansID: ansID
                            }
                        })
                        .then(({ data }) => {
                            if(data.success) {
                                if(currentDetailStatus == this.game.detailStatus) { // Sometimes the API answered later than the socket
                                    this.backgroundColor = 1;
                                    this.gameBoard.showAnswers = true;
                                    this.gameBoard.showMessage = false;
                                    this.gameBoard.messageText = "<h1 class='text-center'><i class='far fa-check-circle mr-2'></i>Đã trả lời!</h1><span class='d-block small'>Bây giờ hãy chờ đợi kết quả.</span>";
                                    
                                    this.gameBoard.isAnswered = data.questID;
                                    this.gameBoard.answeredButtonID = orderId;
                                }
                            } else {
                                alert(data.message);
                            }

                            this.gameBoard.busyAnswering = false;
                            Set_PageBusy(false);
                        }).catch((error) => {
                            this.gameBoard.busyAnswering = false;
                            Set_PageBusy(false);

                            console.log(error);
                            this.CloseGame("Không thể kết nối tới máy chủ.")
                        });
                },
                OnClick_Quit() {
                    if(this.header.isQuitting) 
                        return;

                    var result = confirm('Bạn thực sự muốn thoát kể cả khi không thể quay lại phòng?');
                    if(result) {
                        this.header.isQuitting = true;
                        axios("/play/"+this.game.id+"/player_act/quit", {
                            params: { userGameId: this.user.userGameId }
                        })
                        .then(({ data }) => {
                            this.header.isQuitting = false;
                            if(data.success) {
                                location.reload(); 
                            } else {
                                alert(data.message);
                            }
                        }).catch((error) => {
                            console.log(error);
                            this.CloseGame("Không thể kết nối tới máy chủ.");
                        });
                    }
                },
                CloseGame(reason) {
                    this.header.visible = false;
                    this.backgroundColor = 1;
                    
                    this.gameBoard.visible = true;
                    this.gameBoard.showAnswers = false;
                    this.gameBoard.showMessage = true;
                    this.gameBoard.messageText = "<h1 class='text-center'>Mất kết nối!</h1><h6 class='d-block small'>"+reason+".</h6><a href='#' class='d-block mt-5 small' onclick='location.reload();'>Bấm vào đây để kết nối lại</a>";

                    if(this.socket) socket.disconnect();
                },
                SetCenterMessage(show, text, loading) {
                    this.centerMessage.show = show;
                    this.centerMessage.text = text;
                    this.centerMessage.loadingEffect = loading;
                },
                SetAnswerStatus(result) {
                    switch(result.detail) {
                        case 0:
                            this.backgroundColor = 3;
                            this.gameBoard.messageText = "<h1 class='text-center'><i class='far fa-times-circle mr-2'></i>Chưa trả lời!</h1><span class='d-block small'>Bạn không được cộng điểm.</span>";
                            break;
                        case 1:
                            this.backgroundColor = 2;
                            this.gameBoard.messageText = "<h1 class='text-center'><i class='far fa-check-circle mr-2'></i>Chính xác!</h1><span class='d-block small'>Bạn được cộng +"+result.pointAdd+" điểm.</span>";
                            break;
                        case 2:
                            this.backgroundColor = 3;
                            this.gameBoard.messageText = "<h1 class='text-center'><i class='far fa-times-circle mr-2'></i>Sai!</h1><span class='d-block small'>Bạn không được cộng điểm.</span>";
                            break;
                    }
                },
                getCookie(name) {
                    var value = "; " + document.cookie;
                    var parts = value.split("; " + name + "=");
                    if (parts.length == 2) return parts.pop().split(";").shift();
                }
            },
            mounted() {
                //this.userGameId = this.getCookie('userGameId');

                this.sounds.answerCorrect = new Audio("/sounds/answer_correct.wav");
                this.sounds.answerWrong = new Audio("/sounds/answer_wrong.wav");

                document.getElementById("app-testing").style.display = "block";
                this.socketConnect();
            }
        });
    </script>
</body>
</html>