<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ head_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/testing.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="app-testing" class="container pt-3" style="display:none;">
        <div v-if="centerMessage.show" class="text-center text-white loading-box"><img v-if="centerMessage.loadingEffect" src="/img/loading3.gif" class="icon-loading mr-2">{? centerMessage.text ?}</div>
        <div v-if="header.visible" id="testing-header" class="row bg-dark text-white py-1 px-2 d-flex align-items-center mb-4 fade-in slide-down">
            <div class="col-md-4">
                <h1 class="my-0 py-0 text-uppercase">{? header.gameName ?}</h1>
            </div>
            <div class="col-md-4 text-center">
                <p class="my-0 py-0 text-uppercase"><i class="far fa-question-circle mr-2"></i>Số câu hỏi</p>
                <h2>{? header.gameQuestCount[0] ?}/{? header.gameQuestCount[1] ?}</h2>
            </div>
             <div class="col-md-4 text-right">
                <button class="btn btn-danger"><span v-html="header.nextButtonText"></span></button>
            </div>
        </div>
        <div v-if="lobby.visible" class="fade-in slide-up">
            <div class="row mb-5">
                <div class="col-md-8 offset-md-2">
                    <div class="card rounded-0 border-0">
                        <div class="card-header rounded-0 py-3 bg-primary text-white">
                            <h1 class="mb-0 text-center text-uppercase"><i class="fas fa-sign-in-alt mr-2"></i>Tham gia</h1>
                        </div>
                        <div class="card-body pt-3 pb-0">
                            <div class="row">
                                <div class="col-md-7">
                                    <h2 class="text-center mb-4">Cách A</h2>
                                    <div class="alert alert-primary text-center"><h4 class="text-center d-inline mr-2">Truy cập</h4><h3 class="text-center d-inline font-weight-bold">{{ appFullUrl }}</h3></div>
                                    <h1 class="text-center text-primary mb-3"><i class="fas fa-arrow-circle-down"></i></h1>
                                    <div class="alert alert-primary text-center"><h4 class="text-center d-inline mr-2">Nhập mã PIN</h4><h3 class="text-center d-inline font-weight-bold">{{ gamePIN }}</h3></div>
                                    <h1 class="text-center text-primary mb-3"><i class="fas fa-check-circle"></i></h1>
                                </div>
                                <div class="col-md-5">
                                    <h2 class="text-center mb-4">Cách B</h2>
                                    <div class="alert alert-info text-center">
                                        <!-- <h5 class="text-center d-inline mr-2">Quét mã QR</h5> -->
                                        <div id="gameQRCode" class="mt-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div v-for="st in lobby.users" class="col-md-3 mb-3">
                    <div class="white-transparent-high bg-dark text-white text-center px-3 py-2"><i class="fas fa-user mr-2"></i>{? st ?}</div>
                </div>
            </div>
        </div>
        <div v-if="gameBoard.visible" class="fade-in slide-up">
            <div class="row mb-3">
               <div class="col-md-12 offset-md-0">
                   <div class="card border-0">
                       <div class="card-body bg-question">
                           <div class="row pt-3 mb-4">
                               <div class="col-md-4">
                                   <div class="cicle-info text-center">
                                        <small class="text-uppercase">Thời gian</small>
                                        <h1 class="game-timer-text">100</h1>
                                   </div>
                               </div>
                               <div class="col-md-4 d-flex align-items-center justify-content-center"><h1 class="text-center text-white font-weight-bold"><span class="bg-dark-semi text-uppercase">Câu 1</span></h1></div>
                               <div class="col-md-4">
                                   <div class="square-info text-center">
                                        <small class="text-uppercase">Đã trả lời</small>
                                        <h1 class="answers-text">10</h1>
                                   </div>
                               </div>
                           </div>
                            <h1 class="text-center font-question text-white">Maria can ride her bike to the library in 20 minutes. The trip home, wich is all uphill, takes her half an hour . </h1>
                       </div>
                   </div>
               </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="btn-answer border-triangle d-flex justify-content-between align-items-center">
                        <div class="answer-icon text-color-triangle d-flex justify-content-center align-items-center"><span>&bigtriangleup;</span></div>
                        <div class="answer-text ans-triangle d-flex justify-content-center align-items-center"><span>Hola motherfucker!</span></div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="btn-answer border-circle d-flex justify-content-between align-items-center">
                        <div class="answer-icon text-color-circle d-flex justify-content-center align-items-center"><span>O</span></div>
                        <div class="answer-text ans-circle d-flex justify-content-center align-items-center"><span>Hola motherfucker!</span></div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="btn-answer border-cross d-flex justify-content-between align-items-center">
                        <div class="answer-icon text-color-cross d-flex justify-content-center align-items-center"><span>X</span></div>
                        <div class="answer-text ans-cross d-flex justify-content-center align-items-center"><span>Hola motherfucker!</span></div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="btn-answer border-square d-flex justify-content-between align-items-center">
                        <div class="answer-icon text-color-square d-flex justify-content-center align-items-center"><span>&#9634;</span></div>
                        <div class="answer-text ans-square d-flex justify-content-center align-items-center"><span>Hola motherfucker!</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="ranking.visible" class="fade-in slide-up">
            <div class="row mb-3">
               <div class="col-md-12 offset-md-0">
                   <div class="card border-0">
                       <div class="card-body bg-question pt-5">
                            <h1 class="text-center text-white font-weight-bold mb-5"><span class="bg-dark-semi text-uppercase">Xếp hạng hiện tại</span></h1>
                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    <ul class="list-group">
                                        <li v-for="r in ranking.rankList" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-ranking-user">
                                            <h3>{? r.name ?}</h3>
                                            <h3 class="text-white">{? r.point ?}</h3>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/qrcode.min.js"></script>
    <script src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/babel.min.js"></script>
    <script type="text/babel">
        var vm = new Vue({
            el: "#app-testing",
            delimiters: ['{?','?}'],
            data: {
                siteUrl: "{{ appFullUrl }}",
                presenter: {
                    userId: Number("{{ user.UserID }}"),
                    userToken: "{{ user.UserToken }}",
                },
                game: {
                    id: Number("{{ gameId }}"),
                    PIN: "{{ gamePIN }}",
                    status: 0
                },
                centerMessage: {
                    show: true,
                    text: "Đang kết nối...",
                    loadingEffect: true
                },
                socket: null,
                header: {
                    visible: false,
                    gameName: "Đố vui địa lý",
                    gameQuestCount: [0, 10],
                    nextButtonText: "<i class='fas fa-forward mr-2'></i>Bỏ qua câu hỏi" // "<i class='fas fa-play-circle mr-2'></i>Bắt đầu trò chơi"
                },
                lobby: {
                    visible: false,
                    users: ['Noirefield', 'Cuong Vu','Noirefield', 'Cuong Vu','Noirefield', 'Cuong Vu','Noirefield']
                },
                gameBoard: {
                    visible: false,
                },
                ranking: {
                    visible: false,
                    rankList: [
                        { name: "Noire Bladefield", point: 99999 },
                        { name: "Neptune Bladefield", point: 87776 },
                        { name: "Vert Bladefield", point: 77 },
                        { name: "Blanc Bladefield", point: 555 },
                        { name: "Sup Bladefield", point: 55555 }
                    ]
                }
            },
            computed: {
                
            },
            methods: {
                socketConnect() {
                    this.socket = io();
                    this.socket.on('connect', this.socketOnConnected);
                    this.socket.on('disconnect', this.socketOnDisconnected);
                    this.socket.on('connect_failed', this.socketOnConnectFailed);
                    this.socket.on('presenter_verified', this.socketOnPresenterVerified);
                },
                socketOnConnected() {
                    this.centerMessage.text = "Đã kết nối, đang tải dữ liệu...";
                    this.socket.emit('present_connect', { userId: this.presenter.userId, gameId: this.game.id, gamePIN: this.game.PIN, userToken: this.presenter.userToken });

                    console.log("Connected");
                },
                socketOnDisconnected() {
                    console.log("Disconnected");
                },
                socketOnConnectFailed() {
                    this.loadingText = "Không thể kết nối tới máy chú, thử lại sau.";
                },
                socketOnPresenterVerified(data) {
                    console.log("Verified: "+data.success);
                    if(data.success) {
                        axios("/present/"+this.game.id+"/action/get_data")
                        .then(({ data }) => {
                            if(data.success) this.ReadPresentData(data.game);
                            else this.ClosePresent("Không thể đọc dữ liệu từ máy chủ.");
                        }).catch((error) => {
                            console.log(error);
                            this.ClosePresent("Không thể kết nối tới máy chủ.")
                        });
                    } else this.ClosePresent();
                },
                ReadPresentData: function(game) {
                    console.log("Read Present Data - Status: "+game.STATUS)

                    this.header.gameName = game.NAME;
                    this.header.gameQuestCount = [game.DETAIL.QUEST_CURRENT, game.DETAIL.QUEST_TOTAL];
                    this.game.status = game.STATUS;

                    switch(game.STATUS) {
                        case 1: // Opening for joining
                            this.header.nextButtonText = "<i class='fas fa-play-circle mr-2'></i>Bắt đầu trò chơi";
                            this.lobby.users = game.PLAYERS;
                            this.lobby.visible = true;

                            setTimeout(() => {
                                try { var qrcode = new QRCode("gameQRCode", { text: this.siteUrl+"/joingame/"+this.game.PIN, width: 226, height: 226 }); } catch(e) { }

                            }, 0);

                            break;
                    }

                    this.header.visible = true;
                    this.centerMessage.show = false;
                },
                ClosePresent: function(reason) {
                    alert("Kết thúc: "+reason);
                }
            },
            mounted() {
                document.getElementById("app-testing").style.display = "block";
                this.socketConnect();
            }
        });
    </script>
</body>
</html>