<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon">
            <!--<i class="fas fa-laugh-wink"></i>-->
            <!--<img src="/img/SangvisFerri.png" width="100%">-->
        </div>
        <div class="sidebar-brand-text mx-3">Play2Learn</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <li class="nav-item {{#IfEqual page 'index' 'active'}}{{/IfEqual}}">
        <a class="nav-link" href="{{ GetAdminPageUrl 'Index' }}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Trang chủ quản lý</span></a>
    </li>

    <hr class="sidebar-divider">
    <div class="sidebar-heading">Quản lý Play2Learn</div>

    {{#IfEqualBlock user.RoleType 2 }}
    <li class="nav-item {{#IfEqual page 'users' 'active'}}{{/IfEqual}}">
        <a class="nav-link pb-1" href="{{ GetAdminPageUrl 'Users' }}">
            <i class="fas fa-users i-space"></i>
            <span>Quản lý người dùng</span>
        </a>
    </li>
    {{/IfEqualBlock}}

    <li class="nav-item {{#IfEqual page 'subjects' 'active'}}{{/IfEqual}}">
        <a class="nav-link py-1" href="{{ GetAdminPageUrl 'Subjects' }}">
            <i class="fas fa-book i-space"></i>
            <span>Quản lý bộ đề</span>
        </a>
    </li>
    <li class="nav-item {{#IfEqual page 'quests' 'active'}}{{/IfEqual}}">
        <a class="nav-link py-1" href="{{ GetAdminPageUrl 'Quests' }}">
        <i class="fas fa-question-circle i-space"></i>
        <span>Quản lý câu hỏi</span>
        </a>
    </li>
    <li class="nav-item {{#IfEqual page 'games' 'active'}}{{/IfEqual}}">
        <a class="nav-link pt-1" href="{{ GetAdminPageUrl 'Games' }}">
        <i class="fas fa-chalkboard-teacher i-space"></i>
        <span>Quản lý trò chơi</span>
        </a>
    </li>

    <!-- Nav Item - Pages Collapse Menu 
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Components</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" href="buttons.html">Buttons</a>
            <a class="collapse-item" href="cards.html">Cards</a>
        </div>
        </div>
    </li> -->

    <!-- Divider 
    <hr class="sidebar-divider">
    <div class="sidebar-heading">Công cụ khác</div>-->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->