<!DOCTYPE html>
<html lang="en">
  <head>
    {{> dashboard/meta_header }}
  </head>
  <body id="page-top">
    <div id="wrapper">
      {{> dashboard/sidebar }}
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          {{> dashboard/header }}
          <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Chỉnh sửa trò chơi</h1>
              <a href="{{ GetAdminPageUrl 'Games'}}" class="btn btn-primary btn-sm"><i class="fas fa-arrow-circle-left mr-2"></i>Quay về</a>
            </div>
            {{#IfEqualBlock status 'success'}}<div class="alert alert-success small"><i class="fas fa-user-check mr-2"></i>Trò chơi đã được cập nhật!</div>{{/IfEqualBlock}}
            {{#IfEqualBlock status 'error'}}
              <div class="alert alert-danger small">
                {{#each errors}}
                  <p class="my-0"><i class="fas fa-times mr-2"></i>{{ this }}</p>
                {{/each}}
              </div>
            {{/IfEqualBlock}}
            <div class="row">
              <div class="col-md-12">
                <form action="{{ GetAdminPageUrl 'Games'}}/edit/{{ editGame.GameID }}" method="POST" class="mt-3">
                  <div class="row">
                    <div class="col-md-7">
                      <div class="form-group">
                        <label for="input-gamename"><b>Tên trò chơi:</b></label>
                        <input type="text" class="form-control" v-model="gameName" id="input-gamename" name="input-gamename" value="{{ editGame.GameName }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-7">
                      <div class="form-group">
                        <label for="input-subjectid"><b>Bộ đề:</b> <small>(Toàn bộ câu hỏi của bộ đề này sẽ được thêm)</small></label>
                        <select class="custom-select" v-model="gameSubjectID" name="input-subjectid">
                        {{#each subjectList}}
                            <option value="{{ this.SubjectID }}">{{ this.SubjectName }} ({{ CombineName this.FirstName this.LastName }})</option>
                        {{/each}}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="input-questtime"><b>Thời gian trả lời mỗi câu:</b> <small>(giây)</small></label>
                        <input type="number" class="form-control" v-model="questTime" id="input-questtime" name="input-questtime" min="5" max="999" value="{{ editGame.TimePerQuest }}">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="input-pincode"><b>Mã PIN:</b> <small>(5 chữ số, hệ thống chọn ngẫu nhiên nếu bỏ trống)</small></label>
                        <input type="text" class="form-control" v-model="gamePINCode" id="input-pincode" name="input-pincode" min="10000" max="99999" value="{{ editGame.PINCode }}">
                      </div>
                    </div>
                  </div>
                  <div>
                    <button id="submit-update" name="submit-update" type="submit" class="btn btn-primary mx-auto"><i class="fas fa-plus-circle mr-2"></i>Cập nhật</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        {{> dashboard/footer }}
        <!-- End of Footer -->
      </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    {{> dashboard/meta_footer }}
  </body>
</html>
