<!DOCTYPE html>
<html lang="en">
  <head>
    {{> dashboard/meta_header }}
  </head>
  <body id="page-top">
    <div id="wrapper">
      {{> dashboard/sidebar }}
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          {{> dashboard/header }}
          <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Quản lý người dùng</h1>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card text-dark">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <span><i class="fas fa-users mr-2"></i>Danh sách người dùng</span>
                    <a href="#" class="btn btn-primary btn-sm disabled"><i class="fas fa-user-plus mr-2"></i>Thêm người dùng</a>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr class="text-center">
                            <th>ID</th>
                            <th>Tài khoản</th>
                            <th>Họ tên</th>
                            <th>Quyền hạn</th>
                            <th>Mã sinh viên</th>
                            <th>Đăng ký ngày</th>
                            <th>Thao tác</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#IfNotEmptyArray userList}}
                            {{#each userList}}
                            <tr class="text-dark text-center">
                              <td>{{ this.UserID }}</td>
                              <td><img src="{{ GetAvatarUrl this.AvatarFile }}" class="row-avatar rounded-circle mr-2">{{ this.Username }}</td>
                              <td>{{ CombineName this.FirstName this.LastName }}</td>
                              <td>{{ GetRoleTitle this.RoleType }}</td>
                              <td>{{ this.StudentID }}</td>
                              <td>08-04-2019</td>
                              <td>
                                <a href="{{ GetAdminPageUrl 'Users'}}/edit/{{ this.UserID }}" class="btn btn-warning btn-sm px-1 py-0" title="Sửa"><i class="fas fa-user-edit"></i></a>
                                <a href="{{ GetAdminPageUrl 'Users'}}/delete/{{ this.UserID }}" class="btn btn-danger btn-sm px-1 py-0" title="Xóa"><i class="fas fa-user-times"></i></a>
                              </td>
                            </tr>
                            {{/each}}
                          {{else}}
                            <tr>
                              <td colspan="7"><h6 class="text-center">Không có bất kỳ người dùng nào</h6></td>
                            </tr>
                          {{/IfNotEmptyArray}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{{ GeneratePagination pagination.URL pagination.CURRENT pagination.TOTAL }}}
          </div>
        </div>

        <!-- Footer -->
        {{> dashboard/footer }}
        <!-- End of Footer -->
      </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
   
    {{> dashboard/meta_footer }}
  </body>
</html>
