<!DOCTYPE html>
<html lang="en">
  <head>
    {{> dashboard/meta_header }}
  </head>
  <body id="page-top">
    <div id="wrapper">
      {{> dashboard/sidebar }}
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          {{> dashboard/header }}
          <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Thêm bài kiểm tra</h1>
              <a href="{{ GetAdminPageUrl 'Quests'}}" class="btn btn-primary btn-sm"><i class="fas fa-arrow-circle-left mr-2"></i>Quay về</a>
            </div>
            {{#IfEqualBlock status 'error'}}
              <div class="alert alert-danger small">
                {{#each errors}}
                  <p class="my-0"><i class="fas fa-times mr-2"></i>{{ this }}</p>
                {{/each}}
              </div>
            {{/IfEqualBlock}}
            <div class="row">
              <div id="vue-app" class="col-md-12">
                <form class="mt-3">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="input-testname"><b>Tên bài kiểm tra:</b></label>
                        <input type="text" class="form-control" v-model="testName" id="input-testname" name="input-testname" placeholder="Kiểm tra môn tiếng Anh cuối kỳ">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="input-subjectid"><b>Bộ đề:</b> <small>(Các câu hỏi sẽ được chọn ngẫu nhiên từ bộ đề này dựa trên thẻ)</small></label>
                        <select class="custom-select" v-model="testSubjectID" name="input-subjectid">
                        {{#each subjectList}}
                          <option value="{{ this.SubjectID }}">{{ this.SubjectName }} ({{ CombineName this.FirstName this.LastName }})</option>
                        {{/each}}
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="input-testname"><b>Thời gian làm bài:</b> <small>(phút)</small></label>
                        <input type="number" class="form-control" v-model="testTime" id="input-testtime" name="input-testtime" min="3" max="999" value="45">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="input-testname"><b>Mã PIN:</b> <small>(5 chữ số, hệ thống chọn ngẫu nhiên nếu bỏ trống)</small></label>
                        <input type="text" class="form-control" v-model="testPINCode" id="input-pincode" name="input-pincode" min="10000" max="99999" placeholder="VD: 97775">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="input-testparts"><b>Các phần kiểm tra:</b></label> <button @click="testAddPart" class="btn btn-sm btn-primary"><i class="fas fa-plus-circle mr-2"></i>Thêm phần</button>
                        <table class="table table-bordered">
                          <thead>
                            <tr class="text-center">
                              <th>Tên phần</th>
                              <th>Thẻ (loại câu hỏi)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr v-for="p in testParts" class="text-center">
                              <td class="py-1 my-0"><input type="text" class="form-control" name="input-testparts[][name]" v-model="p.NAME" placeholder="VD: Cơ bản"></td>
                              <td class="py-2 my-0"><input type="text" class="form-control" name="input-testparts[][tags]" v-model="p.TAGS" placeholder="VD: Maths, Basic"></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div>
                    <button @click="testCreate" id="submit-create" name="submit-create" type="submit" class="btn btn-info mx-auto"><i class="fas fa-plus-circle mr-2"></i>Thêm câu hỏi</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        {{> dashboard/footer }}
        <!-- End of Footer -->
      </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
   
    {{> dashboard/meta_footer }}

    <script src="/js/vue.js"></script>
    <script src="/js/axios.min.js"></script>
    <script>
      var vm = new Vue({
        el: "#vue-app",
        data: {
          testName: "",
          testSubjectID: 0,
          testTime: 45,
          testPINCode: "",
          testParts: [
            {
              "NAME": "",
              "TAGS": ""
            }
          ]
        },
        methods: {
          testAddPart: function(e) {
            e.preventDefault();
            vm.testParts.push({ "NAME": "", "TAGS": "" });
          },
          testCreate: function(e) {
            e.preventDefault();
            alert("Added");
          }
        }
      });
    </script>
  </body>
</html>
