<!DOCTYPE html>
<html lang="en">
  <head>
    {{> dashboard/meta_header }}
  </head>
  <body id="page-top">
    <div id="wrapper">
      {{> dashboard/sidebar }}
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          {{> dashboard/header }}
          <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Xóa câu hỏi</h1>
              <a href="{{ GetAdminPageUrl 'Quests'}}" class="btn btn-primary btn-sm"><i class="fas fa-arrow-circle-left mr-2"></i>Quay về</a>
            </div>
            {{#IfEqualBlock status 'error'}}
              <div class="alert alert-danger small">
                {{#each errors}}
                  <p class="my-0"><i class="fas fa-times mr-2"></i>{{ this }}</p>
                {{/each}}
              </div>
            {{/IfEqualBlock}}
            <div class="row">
              <div class="col-md-12">
                <form action="{{ GetAdminPageUrl 'Quests'}}/delete/{{ editQuest.QuestID }}" method="POST" class="mt-0">
                  <p class="my-0"><span class="text-danger">Bạn có chắc chắn muốn xóa câu hỏi</span>: <b>{{ editQuest.QuestContent }}</b></p>
                  <p class="small text-danger">(Việc này sẽ không thể phục hồi)</p>
                  <button id="submit-delete" name="submit-delete" type="submit" class="btn btn-danger mx-auto"><i class="fas fa-trash-alt mr-2"></i>Xác nhận xóa</button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer -->
        {{> dashboard/footer }}
        <!-- End of Footer -->
      </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
   
    {{> dashboard/meta_footer }}
  </body>
</html>
