<!DOCTYPE html>
<html lang="en">
  <head>
    {{> dashboard/meta_header }}
  </head>
  <body id="page-top">
    <div id="wrapper">
      {{> dashboard/sidebar }}
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          {{> dashboard/header }}
          <div class="container-fluid">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Quản lý bài kiểm tra</h1>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card text-dark">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <span><i class="far fa-file i-space mr-2"></i>Danh sách bài kiểm tra</span>
                    <a href="{{ GetAdminPageUrl 'Tests'}}/add" class="btn btn-primary btn-sm"><i class="fas fa-plus-circle mr-2"></i>Thêm bài kiểm tra</a>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr class="text-center">
                            <th>ID</th>
                            <th>Tên Bài KT</th>
                            <th>Mã PIN</th>
                            <th>Số câu hỏi</th>
                            <th>Sở hữu</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{#IfNotEmptyArray testList}}
                            {{#each testList}}
                            <tr class="text-dark text-center {{ GetTestRowColor this.OpenStatus }}">
                              <td>{{ this.TestID }}</td>
                              <td>{{ this.TestName }}</td>
                              <td>{{ this.PINCode }}</td>
                              <td>{{ this.QuestTotal }}</td>
                              <td>{{ CombineName this.FirstName this.LastName }}</td>
                              <td>{{ GetTestStatusText this.OpenStatus }}</td>
                              <td>
                                {{#IfEqualBlock this.OpenStatus 0 }}
                                  <a href="{{ GetAdminPageUrl 'Tests'}}/open/{{ this.TestID }}" class="btn btn-success btn-sm px-1 py-0" title="Sửa"><i class="fas fa-lock-open mr-2"></i>Mở vào</a>
                                  <a href="{{ GetAdminPageUrl 'Tests'}}/edit/{{ this.TestID }}" class="btn btn-warning btn-sm px-1 py-0" title="Sửa"><i class="fas fa-edit mr-2"></i>Sửa</a>
                                  <a href="{{ GetAdminPageUrl 'Tests'}}/delete/{{ this.TestID }}" class="btn btn-danger btn-sm px-1 py-0" title="Xóa"><i class="fas fa-trash-alt mr-2"></i>Xóa</a>
                                {{/IfEqualBlock}}
                                {{#IfEqualBlock this.OpenStatus 1 }}
                                  <a href="{{ GetAdminPageUrl 'Tests'}}/start/{{ this.TestID }}" class="btn btn-primary btn-sm px-1 py-0" title="Mở cho thí sinh vào phòng"><i class="fas fa-envelope-open-text mr-2"></i>Làm bài</a>
                                {{/IfEqualBlock}}
                                {{#IfEqualBlock this.OpenStatus 2 }}
                                    <a href="{{ GetAdminPageUrl 'Tests'}}/finish/{{ this.TestID }}" class="btn btn-warning btn-sm px-1 py-0" title="Thu bài trước thời hạn"><i class="far fa-arrow-alt-circle-down mr-2"></i>Thu bài ngay</a>
                                {{/IfEqualBlock}}
                                {{#IfEqualBlock this.OpenStatus 3 }}
                                  <!--<a href="{{ GetAdminPageUrl 'Tests'}}/delete/{{ this.TestID }}" class="btn btn-danger btn-sm px-1 py-0" title="Xóa"><i class="fas fa-trash-alt mr-2"></i>Xóa</a>-->
                                {{/IfEqualBlock}}
                              </td>
                            </tr>
                            {{/each}}
                          {{else}}
                            <tr>
                              <td colspan="7"><h6 class="text-center">Không có bất kỳ bài kiểm tra nào</h6></td>
                            </tr>
                          {{/IfNotEmptyArray}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{{ GeneratePagination pagination.URL pagination.CURRENT pagination.TOTAL }}}
          </div>
        </div>

        <!-- Footer -->
        {{> dashboard/footer }}
        <!-- End of Footer -->
      </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
   
    {{> dashboard/meta_footer }}
  </body>
</html>
